<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../css/estilos.css"/>
        <link rel = "stylesheet" href = "../css/normalize.css">
        <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "hoja de estilo ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/6b8c6e67a4.js" crossorigin="anonymous"></script>

        <title>Mercado Liebre</title>

    </head>

    <body>
       <header class="main-header">
           <div class="main-header-bar">
                <img src="/images/logo-mercado-liebre.svg" class="logo"></img>        
                    <nav>
                        <div>
                            <form class="search-form">
                                <input placeholder="Buscar productos, marcas" type="text" name="keywords" class="search">                            
                                <button type="submit" class="fas fa-search" class="search-button"></button>
                            </form>
                        </div>
                    </nav>           
                        
                    <div>
                        <p class="texto-compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tárjetas de crédito</p>
                    </div>
            </div>
            <nav class="main-navbar">
               <ul class="left-navbar">
                    <li><a href="#"></a>Ofertas</li>
                    <li><a href="#"></a>Tiendas Oficiales</li>
                    <li><a href="#"></a>Vender</li>
                    <li><a href="#"></a>Ayuda</li>                    
                </ul>            
                <ul class="right-navbar">
                    <li><a href="register.html">Creá tú cuenta<i class="far fa-id-card" id="card"></i></a></li>
                    <li><a href="login.html">Ingresá<i class="fas fa-sign-in-alt" id="sign"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket" id="shopping"></i></a></li>              
                </ul>
            </nav>
            <a href="#" class="menu-hamburguesa">
                <i class="fas fa-bars burguer2"></i>
            </a>                                       
        </header>       
            <main class="seccion-productos">                
                    <div>
                        <img src="/images/img-home-banner.jpg" class="banner">
                        <p class="visita">Basado en tu última visita</p>                                
                    </div>
                <div class="container-flex">
                    <div class="productos">                        
                        <img src="/images/img-cafetera-moulinex.jpg" class="mediana">
                        <br>                   
                        <i class="fas fa-truck"></i>
                        <div class="box">
                            <ul>
                                <li class="precio">$6.770</li>
                                <br>
                                <li class="descuento">40% OFF</li>
                            </ul>
                        </div>                    
                            <p id="descripcion-producto">Cafetera Moulinex Pro</p>
                        </br>                        
                    </div>
                        <br>
                    <div class="productos">                        
                        <img src="/images/img-macbook-pro-2019.jpg" class="mediana">
                        <br>
                        <i class="fas fa-truck"></i>
                        <ul>
                            <li class="precio">$230.000</li>
                            <br>
                            <li class="descuento">20% OFF</li>
                        </ul>
                        <p id="descripcion-producto">Macbook Pro 2019</p>
                        </br>                          
                    </div>
                    <div class="productos">                        
                        <img src="/images/img-samsung-galaxy-s10.jpg" class="mediana">
                        <br>
                        <i class="fas fa-truck"></i>
                        <ul>
                            <li class="precio">$70.500</li>
                            <br>
                            <li class="descuento">10% OFF</li>
                        </ul>
                        <p id="descripcion-producto">Teléfono Samsung Galaxy S10+</p>
                        </br>                        
                    </div>
                        </br>
                    <div class="productos">                                                             
                        <img src="/images/img-tv-samsung-smart.jpg" class="mediana">
                        <br>
                        <i class="fas fa-truck"></i>
                        <ul>
                            <li class="precio">$40.600</li>
                            <br>
                            <li class="descuento">5% OFF</li>
                        </ul>
                            <p id="descripcion-producto">Samsung Smart TV 43"</p>
                            </br>                        
                    </div>
                </div>
                    </br>           
                <div>
                    <p class="ofertas">Sección de Ofertas</p>
                </div>
                    <br>
                    <div class="container-flex">
                        <div class="productos">
                            <img src="/images/img-samsung-galaxy-s10.jpg" class="mediana">
                            <br>
                            <i class="fas fa-truck"></i>
                            <ul>
                                <li class="precio">$66.600</li>
                                <br>
                                <li class="descuento">10% OFF</li>
                            </ul>
                            <p id="descripcion-producto">Teléfono Samsung Galaxy S10</p>
                            </br>                          
                        </div>
                        </br>

                        <div class="productos">                                      
                            <img src="/images/img-tv-samsung-smart.jpg" class="mediana">
                            <br>
                            <i class="fas fa-truck"></i>
                            <ul>
                                <li class="precio">$36.500</li>
                                <br>
                                <li class="descuento">15% OFF</li>
                            </ul>
                            <p id="descripcion-producto">Samsung Smart TV 40"</p>
                            </br>                           
                        </div>
                        <div class="productos">
                            <img src="/images/img-cafetera-moulinex.jpg" class="mediana">
                            <br>
                            <i class="fas fa-truck"></i>
                            <ul>
                                <li class="precio">$4.500</li>
                                <br>
                                <li class="descuento">10% OFF</li>
                            </ul>
                            <p id="descripcion-producto">Cafetera Moulinex Basic</p>
                            </br>                          
                        </div>
                        </br>

                        <div class="productos">                                      
                            <img src="/images/img-macbook-pro-2019.jpg" class="mediana">
                            <br>
                            <i class="fas fa-truck"></i>
                            <ul>
                                <li class="precio">$190.000</li>
                                <br>
                                <li class="descuento">10% OFF</li>
                            </ul>
                            <p id="descripcion-producto">Mac Book Pro 2017</p>
                            </br>                           
                        </div>
                    </div>
                </div>    
            </main>
        </main>       
       <footer>
           <div class="container">
               <div class="row">
                    <div class="columna">
                        <article>
                            <i class="fas fa-credit-card"></i>             
                            <h2>Pagá con tarjeta o efectivo</h2>
                            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                            </p>
                        </article>
                     </div>

                    <div class="columna">
                        <article>
                            <i class="fas fa-gift"></i>                    
                            <h2>Envío gratis desde $ 2.500</h2>
                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                            </p>
                        </article>
                    </div>

                    <div class="columna">
                        <article>
                            <i class="fas fa-user-shield"></i>                    
                            <h2>Seguridad, de principio a fin</h2>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>       
                        </article>
                    </div>
                </div>
            </div>

            <div class="pieFooter">
                <p class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
            </div>
                
            
        </footer>
	   
    </body>

</html>